<dl>
  <div><dt>First Name</dt> <dd><%= @user.first_name %></dd></div>
  <div><dt>Last Name</dt> <dd><%= @user.last_name %></dd></div>
  <div><dt>Email</dt> <dd><%= @user.email %></dd></div>
</dl>

<%= link_to 'Edit', edit_user_path(@account) %>
