@import "mixins.css.sass"
@import "config.css.sass"

// variable
$shadow: rgba(0, 0, 0, .25)
$white-ts: rgba(255, 255, 255, .5)
$heading: #636C75
$font-color: #555
$link-color: #477DAF
$hover-color: #08C
$border-color: #d9d9d9
$font: 'Lucida Grande', Helvetica, sans-serif

// Reset
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, a, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video
  background: transparent
  border: 0
  font-size: 100%
  margin: 0
  outline: 0
  padding: 0
  vertical-align: baseline

ol, ul
  list-style: none

// Structure
body
  color: $font-color
  font-family: $font
  font-size: 12px

p 
  margin: 8px 0

dl 
  margin: 0 0 20px 0
  div
    padding: 6px
    border-top: 1px solid $border-color
    &:last-child
      border-bottom: 1px solid $border-color
  dt 
    float: left
    font-weight: bold
    margin-right: 10px
    width: 120px
  dd
    display: inline-block

a 
  border: none
  text-decoration: none
  color: $link-color
  img 
    border: none
    cursor: pointer
    outline: none
  &:visited 
    cursor: pointer
    outline: none
  &:hover 
    cursor: pointer
    outline: none
    color: $hover-color
    @include transition()
  &:active 
    cursor: pointer
    outline: none

// Heading
h1
  font-size: 20px
  margin-bottom: 14px

h2
  font-size: 18px
  margin-bottom: 12px

h3
  font-size: 14px
  margin-bottom: 10px

h4
  font-size: 13px
  margin-bottom: 8px

// Forms
form fieldset
  margin: 0 0 24px 0

form fieldset:last-child
  margin: 0

form p
  margin: 0 0 12px 0

label
  font-weight: bold
  margin: 0 8px 0 0
  small
    color: #a7a7a7
    font-size: 12px
    font-weight: normal
    margin: 0 0 0 8px
 
input[type='text'], input[type='password'], input[type='email'], textarea, select
  display: block
  margin: 5px 0
  border: 1px solid #ccc
  color: #424242
  outline: none
  padding: 4px
  @include radius(3px)
  @include bs(0 1px 2px rgba(0, 0, 0, .15) inset)
  @include transition(border .2s linear)

input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, textarea:focus, select:focus
  border: 1px solid #80bfff
  @include bs(0 0 3px #80bfff, 0 1px 2px rgba(0, 0, 0, .15) inset)

// buttons
a.button:link, a.button:visited, button, input[type='submit']
  display: inline-block
  border: 1px solid #ababab
  color: #707070
  //margin: 0 8px 18px 0
  padding: 5px 10px
  text-align: center
  @include gradient-v(#efefef, #d8d8d8)
  @include radius(3px)
  @include bs(0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .8) inset)
  text-shadow: 0 1px 1px rgba(255, 255, 255, .5)
  -webkit-font-smoothing: antialiased
  outline: none

a.button:hover,  button:hover,  input[type='submit']:hover
  @include gradient-v(#f6f6f6, #e3e3e3)
  cursor: pointer

a.button:focus,  button:focus,  input[type='submit']:focus
  border: 1px solid #80bfff
  @include gradient-v(#f6f6f6, #e3e3e3)
  @include bs(0 0 3px #80bfff, 0 1px 1px rgba(255, 255, 255, .8) inset)

a.button:active,  a.button.active,  button:active,  button.active,  input[type='submit']:active,  input[type='submit'].active
  background: #e3e3e3
  background: -moz-linear-gradient(top, #e3e3e3, #f6f6f6) #1b468f
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f6f6f6)) #1b468f
  background: linear-gradient(top, #e3e3e3, #f6f6f6) #1b468f
  @include bs(none)

a.button.disabled,  button:disabled,  input[type='submit']:disabled
  background: #efefef !important
  border: 1px solid #d1d1d1 !important
  @include bs(none !important)
  color: #aaa !important
  cursor: default
  text-shadow: 0 1px 1px #fff !important

/* green

a.button.green:link,    a.button.green:visited,    button.green,    input[type='submit'].green
  background: #1fbf00
  background: -moz-linear-gradient(top, #22d100, #19a500) #22d100
  background: -webkit-gradient(linear, left top, left bottom, from(#22d100), to(#19a500)) #22d100
  background: linear-gradient(top, #22d100, #19a500) #22d100
  border: 1px solid #1b8800
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .25) inset
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .25) inset
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .25) inset
  color: #fff
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .33)

a.button.green:hover,    button.green:hover,    input[type='submit'].green:hover
  background: #22cc00
  background: -moz-linear-gradient(top, #24d800, #1db200) #24d800
  background: -webkit-gradient(linear, left top, left bottom, from(#24d800), to(#1db200)) #24d800
  background: linear-gradient(top, #24d800, #1db200) #24d800

a.button.green:focus,    button.green:focus,    input[type='submit'].green:focus
  -moz-box-shadow: 0 0 3px #24d800, 0 1px 1px rgba(255, 255, 255, .25) inset
  -webkit-box-shadow: 0 0 3px #24d800, 0 1px 1px rgba(255, 255, 255, .25) inset
  box-shadow: 0 0 3px #24d800, 0 1px 1px rgba(255, 255, 255, .25) inset

a.button.green:active,    a.button.green.active,    button.green:active,    input[type='submit'].green:active
  background: #1fba00
  background: -moz-linear-gradient(top, #1db200, #24d800) #1db200
  background: -webkit-gradient(linear, left top, left bottom, from(#1db200), to(#24d800)) #1db200
  background: linear-gradient(top, #1db200, #24d800) #1db200
  -moz-box-shadow: none
  -webkit-box-shadow: none
  box-shadow: none

// Helper
.left
  float: left

.right
  float: right

// Grid
.column 
  display: inline
  float: left
  margin: 0 $margin
  overflow: hidden

.row 
  width: $width
  margin: 0 auto
  overflow: hidden
  position: relative
  .row 
    margin: 0 - $margin
    width: auto
    display: inline-block
  
@mixin grid($rowwidth: 16)
  width: ( $rowwidth * ($width / $columns)- (2 * $margin))+ (2 *  0 * $margin)
  @extend .column

.grid-1 
  @include grid(1)
.grid-2 
  @include grid(2)
.grid-3 
  @include grid(3)
.grid-4 
  @include grid(4)
.grid-5 
  @include grid(5)
.grid-6 
  @include grid(6)
.grid-7 
  @include grid(7)
.grid-8 
  @include grid(8)
.grid-9 
  @include grid(9)
.grid-10 
  @include grid(10)
.grid-11 
  @include grid(11)
.grid-12 
  @include grid(12)
.grid-13 
  @include grid(13)
.grid-14 
  @include grid(14)
.grid-15 
  @include grid(15)
.grid-16 
  @include grid(16)

// Notification
.alert
  @include feedback($pink-light, $red-light, 1px solid #fbc2c4)
  
