/**********/
/* Config */
/**********/
$gray-lighter: #ddd
$gray-light: #aaa
$gray: #888
$gray-dark: #666
$gray-darker: #444
$black: #222
$blue: #3D98F1
$green: #7FB060
$red: #AE2B2B
$red-light: #d12f19
$yellow: #F4DD51
$orange: #FD633D
$pink: #C3325F
$pink-light: #fbe3e4
$purple: #632F53
$system: #ccc

$width: 980px
$columns: 16
$margin: 10px

$narrow: "PT Sans Narrow", sans-serif
$sans: "PT Sans", sans-serif
$serif: "PT Sans", serif
$mono: monospace
$headings: "PT Sans", serif

